os: osx
language: c#

install:
    - ./.travis/install.sh

script:
    - ./.travis/unit_test.sh

after_success:
    - ./.travis/performance_report.sh

cache:
    directories:
        - /Application/Unity
